@model Negrea_Georgiana_MasterProiect.Models.ShopViewModels.SellerIndexData
@{
    ViewData["Name"] = "Sellers";
}
<h2>Sellers</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Seller Name</th>
            <th>Adress</th>
            <th>Boots</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sellers)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["SellerID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{
                        foreach (var boot in item.SoldBoots)
                        {
                            @boot.Boot.ID @: @boot.Boot.Name <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

    @if (Model.Boots != null)
    {
        <h3>Boots Sold by Selected Seller</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
            </tr>
            @foreach (var item in Model.Boots)
            {
                string selectedRow = "";
                if (item.ID == (int?)ViewData["BootID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "Index", new { BootID = item.ID })
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Brand
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }

        </table>
    }
    @if (Model.Orders != null)
    {
        <h3>
            Customers that have ordered the Selected Boot
        </h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Order Date</th>
            </tr>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @item.Customer.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                </tr>
            }
        </table>
    }
